.tablo{
    width: 100%;
    height: 150px;
    background-color:deepskyblue ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
text-align: center;
    padding: 10px;
}
.maxValue{
    width: 100%;
    height: 150px;
    background-color:deepskyblue ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color:darkred;
    padding: 10px;
}
